{{ template "layout.html" }}
{{ block "content" . }}
<h1 class="font-bold text-xl">Register</h1>
<hr />
<div class="flex flex-col mt-4">
	<div class="w-full">
		<h2>Join Party</h2>
		<form
			hx-post="/register"
			hx-swap="innerHTML"
			hx-ext="response-targets"
			hx-target-400="#join-error"
			class="flex flex-col space-y-1 text-black"
		>
			<input
				class="p-1"
				type="text"
				id="RoomKey"
				name="RoomKey"
				placeholder="Room Key"
			/>
			<input
				class="p-1"
				type="text"
				name="Username"
				placeholder="Username"
			/>
			<input
				class="p-1"
				type="password"
				name="Password"
				placeholder="Password"
			/>
			<input
				class="p-1"
				type="password"
				name="Retry"
				placeholder="Password"
			/>
			<p id="join-error" class="text-red-500"></p>
			<button type="submit" class="border-white border-2 rounded-lg p-1"
				>Register</button
			>
		</form>
	</div>

	<div class="w-full">
		<h2>Create Party</h2>
		<form
			method="POST"
			hx-post="/register"
			hx-swap="innerHTML"
			hx-ext="response-targets"
			hx-target-400="#create-error"
			class="flex flex-col space-y-1 text-black"
		>
			<input
				class="p-1"
				type="text"
				name="Username"
				placeholder="Username"
			/>
			<input
				class="p-1"
				type="password"
				name="Password"
				placeholder="Password"
			/>
			<input
				class="p-1"
				type="password"
				name="Retry"
				placeholder="Repeat Password"
			/>
			<input class="p-1" type="hidden" name="RoomKey" value="" />
			<p id="create-error" class="text-red-500"></p>
			<button type="submit" class="border-white border-2 rounded-lg p-1"
				>Register</button
			>
		</form>
	</div>
</div>
{{end}}
