{{ template "layout.html" . }}
{{ define "content" }}
<div class="px-2">
	<p class="py-3">{{.Snippets.home_join_info}}</p>
	<div class="flex flex-col mt-4" id="register-form">
		<form hx-post="/register"
			hx-swap="innerHTML"
			hx-ext="response-targets"
			hx-target-401="#join-error"
			hx-target-409="#join-error"
			class="flex flex-col space-y-1 text-black">
				<input class="p-1 rounded-sm" type="text" id="RoomKey" name="RoomKey" placeholder="{{.Snippets.field_key}}" />
				<input class="p-1 rounded-sm" type="text" name="Username" placeholder="{{.Snippets.field_name}}" />
				<input class="p-1 rounded-sm" type="password" name="Password" placeholder="{{.Snippets.field_password}}" />
				<input class="p-1 rounded-sm" type="password" name="Retry" placeholder="{{.Snippets.field_retry}}" />
				<p id="join-error" class="rounded-sm font-bold text-lg w-full text-center py-2 text-red-300"></p>
				<button type="submit"
					class="p-2 text-xl rounded-sm bg-blue-500 hover:bg-blue-700 text-white font-bold">{{ .Snippets.button_join }}</button>
		</form>
	</div>
	<a class="py-1 underline text-center w-full block" href="/">{{.Snippets.join_create_link}}</a>
</div>
{{end}}
