{{ template "layout.html" . }}
{{ define "content" }}
<p class="w-full text-center mt-2">Login</p>
<form class="px-2 flex flex-col mt-4 space-y-1" hx-post="/login/" hx-swap="innerHTML" hx-ext="response-targets"
	hx-target-401="#login-error"
	hx-target-409="#login-error"
	class="flex flex-col space-y-2">
	<input id="RoomKey" class="p-1 text-black rounded-sm" type="text" id="RoomKey" name="RoomKey" required
		placeholder="{{.Snippets.field_key}}" />
	<input id="Username" class="p-1 text-black rounded-sm" type="text" name="Username" required
		placeholder="{{.Snippets.field_name}}" />
	<input id="Password" class="p-1 text-black rounded-sm" type="password" name="Password" required
		placeholder="{{.Snippets.field_password}}" />


	<p id="login-error" class="text-red-500 text-center py-4 font-bold"></p>

	<button type="submit"
		class="p-2 text-xl bg-blue-500 hover:bg-blue-700 text-white rounded-sm font-bold">{{.Snippets.button_login}}</button>
</form>
{{end}}
