{{define "content"}}

<div class="w-full">
	<h2>Join room</h2>
	<form hx-post="/login" hx-swap="none" class="flex flex-col space-y-1 text-black">
		<input class="p-1" type="text" name="Username" placeholder="Username" />
		<input class="p-1" type="text" name="Room" placeholder="Room" />
		<input class="p-1" type="password" name="Password" placeholder="Password" />
		<button type="submit" class="border-white border-2 rounded-lg p-1">Login</button>
	</form>
</div>

<div class="w-full">
	<h2>Create room</h2>
	<form hx-post="/register" hx-swap="none" class="flex flex-col space-y-1 text-black">
		<input class="p-1" type="text" name="Username" placeholder="Username" />
		<input class="p-1" type="password" name="Password" placeholder="Password" />
		<button type="submit" class="border-white border-2 rounded-lg p-1">Register</button>
	</form>
</div>

{{end}} {{ template "layout.html" . }}
