<html>
<head>
	<title>{{.Snippets.title}}</title>
	<meta charset="UTF-8" />
	<meta name="title" content="{{.Snippets.meta_title}}" />
	<meta name="description" content="{{.Snippets.meta_description}}" />
	<meta name="keywords" content="{{.Snippets.keywords}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/static/compiled.css" rel="stylesheet" />
</head>

<body class="bg-blue-600">
	<div class="wrapper w-full h-full">
		<div class="w-full h-full flex">
				<div class="flex flex-col m-auto">
					<div class="w-full h-[12rem] relative flex justify-center flex-row z-10">
						<img class="absolute top-2 pointer-events-none" src="/static/images/gopher.svg" />
					</div>
					<div class="max-w-[420px] min-w-[320px] relative border-white shadow-lg bg-blue-600 shadow-blue-900 flex flex-col border-4 rounded-lg text-white">
						<div class="w-full top-0 h-0 relative flex flex-row justify-center">
						</div>
						<a href="/" class="font-bold py-6 text-4xl text-center w-full cursor-pointer">{{.Snippets.title}}</a>
						<hr class="w-full" />

						{{ block "content" . }}
						{{ end }}
						<div class="w-full mt-2 flex-row flex justify-between px-4 py-2">
							<a href="https://lommix.de/donate" target="_blank" class="">
								<img class="-mt-1" src="/static/images/coffee.svg"/>
							</a>
							<a href="https://github.com/lommix" target="_blank" class="">
								<img src="/static/images/git.svg"/>
							</a>
							{{ if .User.Id }}
							<a class="cursor-pointer" hx-get="/logout" hx-trigger="click" hx-swap="none"><img src="/static/images/logout.svg"/></a>
							{{ end }}
					</div>
				</div>
					<p class="h-full mt-2 text-center text-white text-sm">v0.8 alpha</p>
			</div>
		</div>
	</div>
	<script src="/static/htmx.min.js"></script>
	<script src="/static/response-targets.js"></script>
	<script src="/static/main.js"></script>
</body>
</html>
