<html>
<head>
	<title>{{.Snippets.title}}</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{.Snippets.description}}" />
	<meta name="keywords" content="{{.Snippets.keywords}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/static/compiled.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper w-full h-full">
		<div class="w-full h-full bg-blue-600 flex justify-center items-center">
			<div class="w-72 border-white flex flex-col border-4 rounded-lg text-white">
				{{ block "content" . }}
				{{ end }}
				<a href="https://lommix.de" target="_blank" class="w-full flex flex-col justify-center items-center mt-4">
					<img src="/static/images/coffee.svg"/>
					<p>Donate</p>
				</a>
			</div>
		</div>
	</div>
	<script src="/static/htmx.min.js"></script>
	<script src="/static/response-targets.js"></script>
	<script src="/static/main.js"></script>
</body>
</html>
