{{ define "moderator" }}

<div class="mt-6 relative w-full flex flex-col justify-center border-2 border-white rounded-lg">
	<div class="absolute w-full -top-3 left-0 flex-row flex justify-center">
		<div class="bg-blue-600 font-bold text-xl px-1 flex flex-row space-x-3">
			<span>Moderator</span>
		</div>
	</div>
	<div class="mt-6 flex flex-col justify-between mx-3">
		<p class="">{{ .Snippets.profile_moderator }}</p>
		<div class="w-full flex justify-center flex-col mt-4 edit-hide">
			<form
				class="w-full"
				hx-swap="innerHTML"
				hx-post="/roll"
				hx-ext="response-targets"
				hx-target-417="#roll-error"
				hx-target-401="#roll-error"
				hx-confirm="{{ .Snippets.confirm_play }}"
				>
				<div class="w-full flex flex-row justify-between space-x-3">
					<label class="font-bold" for="Rule">{{ .Snippets.checkbox_exclude }}</label>
					<input class="w-8 h-8" type="checkbox" name="Rule" id="Rule" value="blacklist" />
				</div>
				<button
					type="submit"
					class="bg-green-600 mt-4 w-full group hover:bg-green-500 text-white font-bold relative py-2 rounded-md flex flex-row items-center justify-center">
					<img src="/static/images/dice.svg"/>
					<p class="absolute bg-green-600 group-hover:bg-green-500 bottom-3 rounded-xl px-1 leading-none">{{ .Snippets.button_play }}</p>
					<img src="/static/images/dice.svg"/>
				</button>
			</form>
			<p id="roll-error" class="font-bold text-red-400"></p>
		</div>
	</div>
</div>
{{ end }}
