{{ define "room" }}
<div class="flex flex-row h-12">
	<a
		onclick="saveToClipboard(event,this)"
		href="/key/{{.Key}}"
		class="w-full flex flex-row items-center justify-center cursor-pointer"
		>
		<div class="">
			{{ template "icon" "key" }}
		</div>
		<div class="">
			{{ .Key }}
		</div>
	</a>
	<div class="w-fit flex flex-row justify-end px-1 items-center">
		<div class="relative">
			{{ template "icon" "group" }}
			<div class="absolute flex w-full h-full top-2 right-0 justify-center items-center">
				<div class=" font-bold text-white rounded-full h-4 w-4 text-center text-xs overflow-hidden">
					{{ len .Users}}
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
